<%- include('header'); -%>

<h1>About the to do list...</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus, nulla nec laoreet efficitur, nisi nulla blandit ipsum, sit amet luctus quam nisi a libero. In id ante purus. Phasellus et efficitur nunc, in tristique elit. Sed dui odio, aliquam nec efficitur non, cursus faucibus quam. Pellentesque varius pretium est ac scelerisque. Ut non viverra ipsum. Duis faucibus libero ac tempus ultricies. Aliquam venenatis purus mi, nec interdum odio vulputate non. Sed ex nibh, egestas in euismod sit amet, tempus eleifend ante. Donec gravida rutrum eleifend.</p>

<%- include('footer'); -%>


